/* 
  .image-gallery-slide{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    
  }
  .custom-image-gallery .image-gallery-slide img {
    object-fit: contain; 
    height: 100%; 
    width: auto; 
  }
  
  .image-gallery-thumbnail-image{
    width: 60px !important;
    height: auto !important;
  }
  .image-gallery-thumbnail {
    width: auto !important;
  }
   */